.cc-popup-wrapper {
    margin: 0;
    overflow: hidden;
    width: 250px;
}

body {
    font-family: Helvetica, sans-serif;
    width: 348px;
    transition: opacity 0.2s;
    color: #323439;
}

.cc-popup-footer div {
    padding: 0 20px 8px;
}

.cc-popup-footer span {
    text-align: center;
    display: block;
    margin-left: 15px;
    margin-bottom: 10px;
}
.cc-popup-footer a {
    text-decoration: underline;
    color: #323439;
}

.cc-popup-footer .help {
    padding: 0 0 10px;
}

.cc-popup-body {
    padding: 10px;
}

.cc-popup-options .cc-popup-option {
    display: flex;
    margin: 10px 5px;
}
.cc-popup-options-category {
    border-top: #ddd 1px solid;
}

.cc-popup-options .cc-popup-option div.option {
    width: 22%;
}
.cc-popup-options .cc-popup-option div.label {
    font-size: 15px;
    font-weight: 300;
}
.cc-popup-options .cc-popup-option.code_censor div.label {
    font-weight: 800;
}
.cc-popup-option .cc-popup-option div.option {
    width: 20%;
}
.cc-popup-options h3 {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

/* Hide default input */
.switch input {
    display: none;
}

/* The container and background */
.switch {
    position: relative;
    display: inline-block;
    width: 43px;
    height: 20px;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bc2612;
    border: 1px solid #aaa;
    border-radius: 30px;
    transition: all 0.4s;
}

/* The sliding button */
.slider:before {
    position: absolute;
    content: "";
    width: 15px;
    height: 14px;
    left: 2px;
    top: 2px;
    background-color: #eee;
    border-radius: 24px;
    transition: all 0.4s;
}

/* On checked */
input:checked + .slider {
    background-color: #8cbc13;
}
input:checked + .slider:before {
    transform: translateX(22px);
}
a {
    text-decoration: none;
    color: #2cbe4e;
}
a:hover {
    color: #58d043;
}

.cc-popup-options-category input:disabled + .slider {
    background-color: #d3d3d3;
    cursor: default;
}
